.container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
}


.button {
    width: 220px;
    height: 46px;
    background: #2D80F8;
    border-color: #2D80F8;
    border-radius: 3px;
}

button:hover {
    background-color: #FFFFFF;
}

button:active {
    background-color: #FFFFFF;
}


.logo {
    width: 181px;
    height: 50px;
}

.body-text {
    width: auto;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #7C8090;
}


.body-text1 {
    width: auto;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #7C8090;
}

.main {
    margin-top: 22px;
}

.sub-menu {
    display: flex;
    justify-content: space-between;
}

.show-btn {
    display: flex;
}

.outline-btn {
    box-sizing: border-box;
    position: relative;
    width: 90px;
    height: 38px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #2D80F8;
    border-radius: 23px;
    margin-left: 11px;
}

.outline-btn1 {
    box-sizing: border-box;
    position: relative;
    width: 90px;
    height: 38px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #2D80F8;
    border-radius: 23px;
    margin-left: 11px;
}

.outline-btn2 {
    box-sizing: border-box;
    position: relative;
    width: 90px;
    height: 38px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #2D80F8;
    border-radius: 23px;
    margin-left: 11px;
}

.outline-btn.active {
    background-color: #E4EFFF;
}

.outline-btn1.active {
    background-color: #E4EFFF;
}

.outline-btn2.active {
    background-color: #E4EFFF;
}

.grid-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;   
}
.grid-container img {
    width: 140px;
    height: 140px;
}

img:hover {
    border: 2px solid #2D80F8;
    opacity: 0.8;
}


@media screen and (max-width: 476px) {
    .header{
        width: 320px;
    }
    .sub-menu{
        width: 320px;
    }
    .container{
        margin: 10px;
    }
    body {
        margin: 0px;
    }
    .logo{
        width:10px; 
        height:10px;
    }
    .body-text {
        font-size: 15px;
    }

    .body-text1 {
        display: none;
    }

    .button {
        width: 100px;
    }
    .outline-btn{
        width: 70px;
        height: 30px;
    }
    .outline-btn1{
        width: 70px;
        height: 30px;
    }
    .outline-btn2{
        width: 70px;
        height: 30px;
    }

    .grid-container {
        margin-top: 10px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 0px;
    }

    .grid-container img {
        width: 100px;
        height: 100px;
    }

}