.headers {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #E4EFFF;
    height: 550px;
}

.avatar {
    margin-left: 100px;
    margin-top: -200px;
    width: 340px;
    height: 340px;
    border: 20px solid #C4D5EF;
    border-radius: 190px;
}

h1 {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: row;
}
.contact-info{
    margin-right: 40px;
}

