.profile {}

.avatar {
    width: 300px;
    height: 300px;
    left: 570px;
    top: 151px;
    border-radius: 150px;
    margin: 20px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 314px;
    background: #E4EFFF;
}

.contact-detail{
    width: 300px;
}

.contact-info{
    display: flex;
}
